<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="container">
        <div class="head">
            <div class="row">

                <div class="text">
                    <h1>About S.G.P</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora inventore repellendus minus fuga
                        uam laudantium? Adipisci, maxime, distinctio aperiam beatae voluptas earum aut itaque</p>
                </div>

                <div class="pic"></div>
                <div class="pic1"></div>
            </div>
        </div>

        <!-- ---------------------------para---------------------------- -->

        <div class="para">
            <div class="row">

                <div class="text">

                    <h1><span>Our Mission</span><br>To Support Our Institute As Their Aid</h1>

                </div>
                <div class="text1">
                    <p><span>We Focus On What Students & Teachers Need</span><br><br>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Nihil
                        vero beatae alias totam in repudiandae, quas doloremque placeat impedit expedita corporis magni
                        b suscipit cupiditate tempore voluptate sapiente asperiores perspiciatis?
                        Sed, nesciunt debitis? A aut ipsa facilis officiis voluptatum praesentium fugiat nam maiores</p>
                </div>
            </div>
        </div>

        <div class="help">
            <h1><span>Help Section</span><br>How Can We Help</h1>
            <div class="row1">
                <div class="box1">
                    <i class="fa-solid fa-business-time"></i>

                    <div class="field">
                        <h2>About Business</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo nostrum
                            temporibus</p>
                    </div>
                </div>

                <div class="box2">
                    <i class="fa-solid fa-bug"></i>

                    <div class="field">
                        <h2>Your Problem</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo nostrum
                            temporibus</p>
                    </div>
                </div>

                <div class="box3">
                    <i class="fa-solid fa-school"></i>

                    <div class="field">
                        <h2>Institute</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo nostrum
                            temporibus</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------mentors----------------------- -->

        <div class="mentors">
            <h1><span>Our Team</span><br>The Leaders Of The Server</h1>

            <div class="row1">
                <div class="f">
                    <div class="img1"></div>
                    <h4>Avishek Sarkar</h4>
                </div>

                <div class="f">
                    <div class="img2"></div>
                    <h4>Ashish Mitra</h4>
                </div>

                <div class="f">
                    <div class="img3"></div>
                    <h4>Priti Dutta</h4>
                </div>

                <div class="f">
                    <div class="img4"></div>
                    <h4>Soumyajit Sarkar</h4>
                </div>


                <div class="f">
                    <div class="img5"></div>
                    <h4>Abhik Mitra</h4>
                </div>

            </div>
        </div>

        <!-- ----------------------------talk------------------------- -->


        <div class="talk">
            <div class="row">
                <div class="text">
                    <h1>Let Us Talk<br> Here....<br> <span>we are always available for you</span></h1>


                </div>

                <div class="chat">
                    <a href="#"><i id="ch" class="fa-brands fa-facebook"></i></a>

                    <a href="#"><i id="ch" class="fa-brands fa-instagram"></i></a>

                    <a href="#"><i id="ch" class="fa-brands fa-twitter"></i></a>


                    <a href="#"><i id="ch" class="fa-regular fa-envelope"></i></a>


                </div>
            </div>
        </div>
    </div>
</body>

</html>