<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="/static/css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link herf="//maxcdn.bootstrapcdn.com/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        
    {%if messages %}
           {% for message in messages %}
           {{ message }}
           {% endfor%}
    {% endif%}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        
        username :<input type="text" name="username"> <br>
        password : <input type="password" name="password"><br>

        <input type="submit" value="submit">
    </form>
    </body>
</html>